:root {
  --gold-secondary: #EBD197;
  --gold-primary: #D2BF37;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #212121;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.full {
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

p {
  color: #d1d1d1;
  padding: 16px;
}

h1 {
  color: #eeeeee;
}

h2 {
  color: #eeeeee;
}

div {
  color: #d1d1d1;
}